<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>프롬프트 메이커</title>
    <link rel="stylesheet"
          href="/style.css">
</head>
<body>
    <section class="container">
        <h1>선배의 잔소리</h1>
        <p>이 시대에는 조언해주는 참된 어른이 없다. 그래서 만들었다!</p>
        <form method="post"
              th:action="@{/}"
              th:object="${promptForm}">
            <div class="mb-3">
                <label for="inputText" class="form-label">텍스트 :</label>
                <input type="text" class="form-control" id="inputText" th:field="*{text}">
            </div>
            <button type="submit" class="btn btn-primary">변환</button>
        </form>
        <section class="mt-2 p-1" th:if="${promptData}">Add commentMore actions
            <p th:text="${promptData.id}"></p>
            <p th:text="${promptData.createdAt}"></p>
            <p th:text="${promptData.question}"></p>
            <p th:text="${promptData.answer}"></p>
        </section>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>